<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/Styles/Dashboard.min.css" rel="stylesheet" />
</head>
<body>
    <!-- #region Nav -->
    <nav class="row">
        <a href="../Landing.html" class="logo">
            <img class="fillwidth center" src="/Resources/Vector/Logo.svg" />
        </a>
        <!-- search -->
        <div class="search row">
            <input type="text" placeholder=" جستجو" />
            <button>
                <img class="icon " src="/Resources/Vector/Icons/Search.svg" />
            </button>
        </div>
        <section class="row">
            <a class="exit" href="../Landing.html">خروج</a>
            <a href="DbMain.html">داشبورد</a>
            <a href="DbCollabers.html">همکاران</a>
            <a href="DbShared.html">مشارکتی</a>
        </section>
    </nav>
    <div class="space-nav"></div>

    <!-- #endregion -->


</body>
</html>