@import '_colors.scss';
@import '_general.scss';
@import '_controls.scss';

.hero {
    background-image: url('/Resources/Raster/Hero.jpeg');

    .column {
        background: rgba(0, 0, 0, 0.32);
        backdrop-filter: blur(12px);
        width: 38vw;
        padding: 3vw;
        margin-left: auto;

        .hero-header {
            padding: 2px;
            margin: 16px 0 16px auto ;
            overflow-y: hidden;
            font-size: 2.4vw;
        }

        p {
            margin: 0;
            color: #fff;
            font-size: 1.2vw;
        }
    }
}


.iso {
    @include row();

    &-item {
        padding: 2vw;

        img {
        }

        p {
            padding: .2vw;
            font-size: 1.4vw;
        }
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .hero {

        .hero-header {
            margin:24px auto!important;
            font-size: 2.6em!important;
        }

        .column {
            width: 100vw;
            padding: 3vw;
        }

        p {
            font-size: 1.55em!important;
            text-align: center;
        }
    }
}