<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>about</title>
    <link href="/Styles/About.min.css" rel="stylesheet" />
</head>
<body>

    <!-- #region Nav -->
    <nav class="row">
        <a href="Landing.html" class="logo">
            <img class="fillwidth center" src="/Resources/Vector/Logo.svg" />
        </a>
        <!-- search -->
        <div class="search row">
            <input type="text" placeholder=" جستجو" />
            <button>
                <img class="icon " src="/Resources/Vector/Icons/Search.svg" />
            </button>
        </div>
        <section class="row">
            <a class="login" href="LogIn.html">ورود</a>
            <a href="Search.html">جستجو</a>
            <a href="About.html">درباره</a>
        </section>
    </nav>
    <div class="space-nav"></div>

    <!-- #endregion -->

    <div class="space"></div>

    <div class="header center column">
        <header>
            لورم ایپسوم متن متن 
        </header>

        <p class="center">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
            چاپ و با استفاده از طراحان گرافیک است  چاپ و با استفاده از
            طراحان   چاپ و با استفاده از طراحان
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
            چاپ و با استفاده از طراحان گرافیبا استفاده از طراحان
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
            چاحان گرافیبا استفاده از طراحان
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
            چا
        </p>

    </div>
    
    <div class="space"></div>

    <!--#region iso items -->
    <section class="iso">
        <a class="iso-item column center">
            <img src="/Resources/Vector/Iso/Office.svg" alt="" />
            <p class="center">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                از صنعت چاپ نامفنعت چاپ نهومهوم از صنعت چاپ
            </p>
        </a>
        <a class="iso-item column center">
            <img src="/Resources/Vector/Iso/Comercial.svg" alt="" />
            <p class="center">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                از صنعت چاپ نامفنعت چاپ نهومهوم از صنعت چاپ
            </p>
        </a>
        <a class="iso-item column center">
            <img src="/Resources/Vector/Iso/Residential.svg" alt="" />
            <p class="center">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                از صنعت چاپ نامفنعت چاپ نهومهوم از صنعت چاپ
            </p>
        </a>
    </section>
    <!-- #endregion -->
    <div class="space"></div>
</body>
</html>