<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>about</title>
    <link rel="icon" href="/Resources/Vector/TabLogo.svg">

    <script src="../Scripts/general.js"></script>
    <link href="/Styles/About.min.css" rel="stylesheet" />
</head>
<body>



    <!-- #region Nav -->
    <nav class="row">
        <a href="Landing.html" class="logo">
            <img class="fillwidth center" src="/Resources/Vector/Logo.svg" />
        </a>
        <!-- search -->
        <div class="search row">
            <input id="txtSearch" type="text" placeholder=" جستجو" />
            <button onclick="search('txtSearch','Search.html'); ">
                <img class="icon " src="/Resources/Vector/Icons/Search.svg" />
            </button>
        </div>
        <section class="row">
            <a class="login" href="LogIn.html">ورود</a>
            <a href="Search.html">جستجو</a>
            <a href="About.html">درباره</a>
        </section>
    </nav>
    <div class="space-nav"></div>

    <!-- #endregion -->

    <div class="space"></div>

    <div class="header center column">
        <header>
            درباره ما
        </header>

        <p class="center">
            <strong>نوین ملک</strong>
            با ساده سازی فرایند خرید و فروش انواع ملک و ارائه با کیفیت ترین و ایمن ترین
            سایت برای مراجعه کنندگان به این
            پایگاه مجازی در این
            برهه
            زمان سختی ها و پیچیدگی های مراحل خرید خرید و فروش ملک به شکل سنتی، خواستار ایجاد
            فضای
            مناسب برای شما مراجعه کنندگان می باشد
        </p>

    </div>

    <div class="space"></div>

    <!--#region iso items -->
    <section class="iso">
        <a class="iso-item column center">
            <img src="/Resources/Vector/Iso/Residential.svg" alt="" />
            <p class="center">
                املاک مسکونی
            </p>
        </a>
        <a class="iso-item column center">
            <img src="/Resources/Vector/Iso/Comercial.svg" alt="" />
            <p class="center">
                املاک تجاری
            </p>
        </a>
        <a class="iso-item column center">
            <img src="/Resources/Vector/Iso/Office.svg" alt="" />
            <p class="center">
                املاک اداری
            </p>
        </a>
    </section>
    <!-- #endregion -->


   


    <div class="space"></div>
</body>
</html>