<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>خانه</title>


    <link href="/Styles/Landing.css" rel="stylesheet" />
</head>
<body>
    <!-- #region Nav -->
    <nav class="row">
        <a href="Landing.html" class="logo">
            <img class="fillwidth center" src="/Resources/Vector/Logo.svg" />
        </a>
        <!-- search -->
        <div class="search row">
            <input type="text" placeholder=" جستجو" />
            <button>
                <img class="icon " src="/Resources/Vector/Icons/Search.svg" />
            </button>
        </div>
        <section class="row">
            <a class="login" href="LogIn.html">ورود</a>
            <a href="Search.html">جستجو</a>
            <a href="About.html">درباره</a>
        </section>
    </nav>
    <div class="space-nav"></div>

    <!-- #endregion -->
    <!-- hero -->
    <section class="hero row">
        <img class="hero-image" src="/Resources/Raster/Hero.jpeg" />
        <div class="hero-overlay column">
            <strong class="header">لورم ایپسوم متن متن ساختگی با</strong>
            <div class="space"></div>
            <p>
                لورم ایپسوم متن ساختگی با تولید
                سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است
                استفاده از طراحان گرافیک است
                چاپ و با استفاده از طراحان
                چاپ و با استفاده از طراحان
                چاپ و با استفاده از طراحان
            </p>
            <div class="space-half"></div>
            <div class="row">
                <a href="SignUp.html" class="CallToAction"><p>ثبت نام</p></a>
            </div>
        </div>
    </section>

    <!-- nav -->
    <!--<nav class="row">
        <div class="block search row">
            <img src="../Resources/Vector/Alert.svg" class="icon" />
            <div class="column">
                <strong>جستجوی املاک</strong>
                <p>
                    لورم ایپسوم متن ساختگی با تولید
                    استفاده از طراحان گرافیک است
                    چاپ و با استفاده از طراحان
                </p>
            </div>
        </div>
        <div class="block about row">
            <img src="../Resources/Vector/Alert.svg" class="icon" />
            <div class="column">
                <strong>درباره ما</strong>
                <p>
                    لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است
                </p>
            </div>
        </div>

        <div class="block dashboard row">
            <img src="../Resources/Vector/Alert.svg" class="icon" />
            <div class="column">
                <strong>چک کردن داشبورد</strong>
                <p>
                    ستفاده از طراحان گرافیک است
                    چاپ و با استفاده از طراحان
                </p>
            </div>
        </div>
    </nav>-->

    <div class="space"></div>


    <!-- recent uploads -->
    <content class="browse center">

        <!-- #region Model -->

        <a href="" class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="/Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="/Resources/Raster/House.jpeg" alt="" />

        </a>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
    </content>
    <!-- about -->
    <footer class="row">
        <ul class="social column">
            <li>
                <a href="">
                    <img src="" alt="" />
                </a>
            </li>
            <li>
                <a href="">
                    <img src="" alt="" />
                </a>
            </li>
            <li>
                <a href="">
                    <img src="" alt="" />
                </a>
            </li>
        </ul>
        <content class="column">

        </content>
        <iframe class="map" src="" frameborder="0"></iframe>
    </footer>
</body>
</html>