<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ورود</title>
    <link href="../Styles/Entry.css" rel="stylesheet" />

    <script src="../Scripts/Jquery/jquery-3.5.1.min.js"></script>
    <script src="../JsDecoders/BjaxLib.js"></script>
    <script src="../JsDecoders/ClientJore.js"></script>
    <script src="../JsDecoders/ConstructorJore.js"></script>
    <script src="../JsDecoders/DealerJore.js"></script>
    <script src="../Scripts/LogIn.js"></script>
     
</head>
<body class="column">
    <aside class="collapsed snackBar card row center">
        <img class="alert " src="../Resources/Vector/Alert.svg" />
        <p>
            ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با است
        </p>
    </aside>
    <div class="container center">
        <form class="signUp card column">
            <div class="entry">
                <label>شماره تلفن</label>
                <div class="row">
                    <img class="alert collapsed" src="../Resources/Vector/Alert.svg" />
                    <input id="Tel" type="text" placeholder="پلیس هولدر" />
                </div>
            </div>
            <div class="entry">
                <label>کد ملی</label>
                <div class="row">
                    <img class="alert collapsed" src="../Resources/Vector/Alert.svg" />
                    <input id="Identification" type="text" placeholder="پلیس هولدر" />
                </div>
            </div>
            <div class="space"></div>
            <div class="CallToAction center" onclick="login()">
                <p class="unselectable">ورود</p>
            </div>
            <a class="center" href="SignUp.html">تشکیل حساب</a>
        </form>
        <div class="sideImg"></div>
    </div>
</body>
</html>