<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ملک</title>
    <link href="/Styles/Property.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="../Styles/UIKit/uikit.min.css" />
    <script src="/Scripts/UIKit/uikit.min.js"></script>
    <script src="/Scripts/UIKit/uikit-icons.min.js"></script>

    <script src="../Scripts/Jquery/jquery-3.5.1.js"></script>
    <script src="../JsDecoders/BjaxLib.js"></script>

    <script src="../JsDecoders/PropertyClientRelJore.js"></script>
    <script src="../JsDecoders/PropertyJore.js"></script>
    <script src="../JsDecoders/ClickJore.js"></script>
    <script src="../JsDecoders/ImageJore.js"></script>
    <script src="../JsDecoders/ClientJore.js"></script>
    <script src="../JsDecoders/ConstructorJore.js"></script>
    <script src="../JsDecoders/DealerJore.js"></script>
    <script src="../Scripts/general.js"></script>

</head>
<body class="column">

    <!-- #region Nav -->
    <nav class="row">
        <a href="Landing.html" class="logo">
            <img class="fillwidth center" src="/Resources/Vector/Logo.svg" />
        </a>
        <!-- search -->
        <div class="search row">
            <input id="txtSearch" type="text" placeholder=" جستجو" />
            <button onclick="search('txtSearch','Search.html'); ">
                <img class="icon " src="/Resources/Vector/Icons/Search.svg" />
            </button>
        </div>
        <section class="row">
            <a class="login" href="LogIn.html">ورود</a>
            <a href="Search.html">جستجو</a>
            <a href="About.html">درباره</a>
        </section>
    </nav>
    <div class="space-nav"></div>

    <!-- #endregion -->

    <aside class="call row">
        <label id="callNumber" class="call-number collapsed">
            
        </label>
        <button class="call-button" onclick="Click()">
            <img class="center" src="/Resources/Vector/Icons/call.svg" alt="" />
        </button>
    </aside>


    <!-- #region ImageSlider -->

    <aside class="uploader">
        <content class="slide-show uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>
                <ul id="slideshow" class="uk-slideshow-items"></ul>
                <ul id="sliderNav" class="row uk-thumbnav "></ul>
        </content>
    </aside>

    <!-- #endregion -->

    <!-- #region Content -->
    <section class="content center column">
        <header class="column">
            <p id="Title"></p>
            <hr />
        </header>

        <p id="Description">
        </p>

        <content>

        </content>

        <div class="price row">
            <img src="/Resources/Vector/real.svg" />
            <label id="Price"></label>
        </div>
    </section>
    <!-- #endregion -->

    <div class="space-double"></div>

    <script src="../Scripts/Property.js"></script>
</body>
</html>