<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ملک</title>
    <link href="/Styles/Property.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="../Styles/UIKit/uikit.min.css" />
    <script src="/Scripts/UIKit/uikit.min.js"></script>
    <script src="/Scripts/UIKit/uikit-icons.min.js"></script>
</head>
<body class="column">
    <!-- #region Nav -->
    <nav class="row">
        <a href="Landing.html" class="logo">
            <img class="fillwidth center" src="/Resources/Vector/Logo.svg" />
        </a>
        <!-- search -->
        <div class="search row">
            <input type="text" placeholder=" جستجو" />
            <button>
                <img class="icon " src="/Resources/Vector/Icons/Search.svg" />
            </button>
        </div>
        <section class="row">
            <a class="login" href="LogIn.html">ورود</a>
            <a href="Search.html">جستجو</a>
            <a href="About.html">درباره</a>
        </section>
    </nav>
    <div class="space-nav"></div>

    <!-- #endregion -->

    <aside class="call row">
        <label class="call-number">
            0914 586 ** **
        </label>
        <button class="call-button">
            <img class="center" src="/Resources/Vector/Icons/call.svg" alt="" />
        </button>
    </aside>


    <!-- #region ImageSlider -->

    <aside class="slide-show uk-position-relative uk-visible-toggle uk-light " tabindex="-1" uk-slideshow>

        <ul class="uk-slideshow-items">
            <li>
                <img src="/Resources/Raster/BrickTexture.jpeg" alt="" uk-cover>
            </li>
            <li>
                <img src="/Resources/Raster/HardVertical.jpeg" alt="" uk-cover>
            </li>
            <li>
                <img src="/Resources/Raster/House.jpeg" alt="" uk-cover>
            </li>
            <li>
                <img src="/Resources/Raster/Hero.jpeg" alt="" uk-cover>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </aside>

    <!-- #endregion -->

    <!-- #region Content -->
    <section class="content center column">
        <header class="column">
            <p> لورم ایپسوم متن ساختگی </p>
            <hr />
        </header>

        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه
            وزنامه و مجله در ستون و سطرآنچنان که لازم است و
            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
            متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی
            در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و
            متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری
            را برای طراحان رایانه ای علی الخصوص طراحان خلاقی
        </p>

        <content>
            
        </content>

        <div class="price row">
            <img src="/Resources/Vector/real.svg" />
            <label>19005000</label>
        </div>
    </section>
    <!-- #endregion -->

    <div class="space-double"></div>
    <div class="space-double"></div>
    <div class="space-double"></div>

</body>
</html>