<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>جستجو</title>

    <link href="/Styles/Search.min.css" rel="stylesheet" />
    <script src="../JsDecoders/BjaxLib.js"></script>
    <script src="../Scripts/Jquery/jquery-3.5.1.js"></script>

    <script src="../Scripts/UIKit/uikit.js"></script>
    <link href="../Styles/UIKit/uikit.css" rel="stylesheet" />
    <script src="uikit/dist/js/uikit-icons.min.js"></script>

    <script src="../JsDecoders/PropertyJore.js"></script>

    <script src="../Utilities/Cities.js"></script>
</head>
<body>

    <!-- #region Nav -->

    <nav class="row">
        <a href="Landing.html" class="logo">
            <img class="fillwidth center" src="../Resources/Vector/Logo.svg" />
        </a>
        <section class="row">
            <a class="login" href="LogIn.html">ورود</a>
            <a href="Search.html">جستجو</a>
            <a href="About.html">درباره</a>
        </section>
    </nav>


    <div class="space-nav"></div>

    <!-- #endregion -->

    <section class="filter row">

        <div class="uk-search uk-search-navbar ">
            <button class="uk-search-icon-flip" uk-search-icon onclick="Fetch(document.getElementById('searchbox').value)"></button>
            <input id="searchbox" class="uk-search-input" type="search" placeholder="نام">
        </div>

        <select id="Province" class="uk-select " onclick="ChangeProvinceSelection()" contenteditable="true">
            <option value="0">استان را انتخاب کنید</option>
            <option value="1">آذربایجان شرقی</option>
            <option value="2">آذربایجان غربی</option>
            <option value="3">اردبیل        </option>
            <option value="4">اصفهان</option>
            <option value="5">البرز</option>
            <option value="6">ایلام</option>
            <option value="7">بوشهر</option>
            <option value="8">تهران</option>
            <option value="9">چهارمحال بختیاری</option>
            <option value="10">خراسان جنوبی</option>
            <option value="11">خراسان رضوی</option>
            <option value="12">خراسان شمالی</option>
            <option value="13">خوزستان</option>
            <option value="14">زنجان</option>
            <option value="15">سمنان</option>
            <option value="16">سیستان و بلوچستان</option>
            <option value="17">فارس</option>
            <option value="18">قزوین</option>
            <option value="19">قم</option>
            <option value="20">کردستان</option>
            <option value="21">کرمان</option>
            <option value="22">کرمانشاه</option>
            <option value="23">کهکیلویه و بویراحمد</option>
            <option value="24">گلستان</option>
            <option value="25">گیلان</option>
            <option value="26">لرستان</option>
            <option value="27">مازندران</option>
            <option value="28">مرکزی</option>
            <option value="29">هرمزگان</option>
            <option value="30">همدان</option>
            <option value="31">یزد</option>
        </select>

        <select id="slcity" class="uk-select " contenteditable="true"></select>

        <input id="price" class="uk-input" type="tel" placeholder="سقف قیمت" />

        <div class="uk-margin-small-right"></div>

    </section>

    <content id="browse" class="browse">



    </content>

    <script src="../Scripts/Search.js"></script>
</body>
</html>