<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>جستجو</title>

    <link href="/Styles/Search.min.css" rel="stylesheet" />

</head>
<body>

    <!-- #region Nav -->

    <nav class="row">
        <a href="Landing.html" class="logo">
            <img class="fillwidth center" src="../Resources/Vector/Logo.svg" />
        </a>
        <section class="row">
            <a href="">لورم</a>
            <a href="">ایپسوم</a>
            <a href="">دولور</a>
            <a href="">ست امتد</a>
        </section>
    </nav>


    <div class="space-nav"></div>

    <!-- #endregion -->

    <section class="filter row">
        <!-- search -->
        <div class="search row">
            <input type="text" placeholder=" جستجو" />
            <button>
                <img class="icon " src="/Resources/Vector/Icons/Search.svg" />
            </button>
        </div>

        <select>
            <option value="0">
                Hello
            </option>
            <option value="0">
                Hello World
            </option>
            <option value="0">
                Hello ...
            </option>
            <option value="0">
                Bye
            </option>
        </select>

        <div class="slider-control column center" >
            <input type="range" min="1" max="100" value="50" class="slider">
            <label></label>
        </div>
    </section>

    <content class="browse ">

        <!-- #region Model -->

        <a href="" class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="/Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="/Resources/Raster/House.jpeg" alt="" />

        </a>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
        <!-- #region Model -->

        <div class="model row center">
            <div class="column">
                <header>
                    لورم ایپسوم متن ساختگی
                </header>

                <p>
                    با تولید سادگی
                    نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک
                    است چاپگرها و متون بلکه
                    روزنامه و مجله در ستون
                    و سطرآنچنان که لازم است
                    و برای شرایط فعلی تکنول
                </p>
                <div class="price row">
                    <img src="../Resources/Vector/real.svg" />
                    <label>1900000</label>
                </div>
            </div>
            <img src="../Resources/Raster/House.jpeg" alt="" />

        </div>

        <!-- #endregion -->
    </content>

</body>
</html>