<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ثبت نام</title>
    <link href="/Styles/Entry.css" rel="stylesheet" />

    <script src="../JsDecoders/BjaxLib.js"></script>
    <link href="../Styles/UIKit/uikit.min.css" rel="stylesheet" />
    <script src="../Scripts/UIKit/uikit.min.js"></script>
    <script src="../Scripts/UIKit/uikit-icons.js"></script>

    <script src="../Scripts/Jquery/jquery-3.5.1.js"></script>
    <script src="../JsDecoders/ConstructorJore.js"></script>
    <script src="../JsDecoders/ClientJore.js"></script>
    <script src="../JsDecoders/DealerJore.js"></script>
    <script src="../Scripts/SignUp.js"></script>



</head>
<body class="column">
    <aside class="collapsed snackBar card row center">
        <img class="alert" src="/Resources/Vector/Alert.svg" />
        <p>
            ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با است
        </p>
    </aside>
    <div class="container row center">
        <form class="signUp card column">
            <div class="userSelector  row">
                <div class="user" id="Client" onclick="ClientClick()"><p class="unselectable">مشتری</p></div>
                <div class="user" id="Constructor" onclick="ConstructorClick()"><p class="unselectable">فروشنده</p></div>
                <div class="user" id="Dealer" onclick="DealerClick()"><p class="unselectable">بنگاه</p></div>
            </div>
            <p class="collapsed user-info center">
                لطفا نوع حساب خود را انتخاب کنید
            </p>
            <hr />
            <div id="txtName" class="entry collapsed">
                <label>نام و نام خانوادگی</label>
                <div class="row">
                    <img class="alert collapsed" src="../Resources/Vector/Alert.svg" />
                    <input id="Name" type="text" placeholder="" />
                </div>
            </div>
            <div class="entry">
                <label>شماره تلفن</label>
                <div class="row">
                    <img class="alert collapsed" src="../Resources/Vector/Alert.svg" />
                    <input id="Tel" type="text" placeholder="" value="" />
                </div>
            </div>
            <div class="entry">
                <label>کد ملی</label>
                <div class="row">
                    <img class="alert collapsed" src="../Resources/Vector/Alert.svg" />
                    <input id="Identification" type="text" placeholder="" value="" />
                </div>
            </div>
            <div id="txtAddress" class="entry collapsed">
                <label>آدرس</label>
                <div class="row">
                    <img class="alert collapsed" src="../Resources/Vector/Alert.svg" />
                    <input id="Address" type="text" placeholder="" />
                </div>
            </div>
            <div class="CallToAction uk-margin-medium-top center" onclick="SignUp()">
                <p class="unselectable uk-margin-auto">ثبت نام</p>
            </div>
            <a class="center" href="LogIn.html">حساب دارم</a>
        </form>
        <div class="sideImg"></div>
    </div>
</body>
</html>